<div class="card shadow-lg p-4" style="width: 500px; border-radius: 20px;">

  <h3 class="text-center mb-4 fw-bold">✨ Yapılacaklar Listesi</h3>

  <!--Ekleme-->
  <form (ngSubmit)="addTodo()" class="input-group mb-4">
  <input type="text" class="form-control rounded-start-pill" placeholder="Yeni görev ekle..." [(ngModel)]="newTodo"name="todoInput"/>
  <button type="submit" class="btn btn-primary rounded-end-pill px-4">Ekle</button>
</form>
  <!-- Listeleme -->
  <ul class="list-group list-group-flush">
    <li *ngFor="let todo of todos"
      class="list-group-item d-flex justify-content-between align-items-center border-0 border-bottom py-3">
      <div class="d-flex align-items-center gap-3">
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="todo.completed"
          (change)="toggleTodo(todo)"/>
        <!-- Normal -->
        <span
          *ngIf="!todo.editing"
          [class.text-decoration-line-through]="todo.completed"
          class="fw-medium">
          {{ todo.title }}
        </span>
        <!-- Edit -->
        <input *ngIf="todo.editing" type="text" class="form-control" [(ngModel)]="todo.title"/>
      </div>
      <div class="d-flex gap-2">
        <!-- Edit -->
        <button *ngIf="!todo.editing" class="btn btn-outline-warning btn-sm rounded-pill" (click)="editTodo(todo)"> ✏ </button>
        <!--Kaydet-->
        <button *ngIf="todo.editing" class="btn btn-outline-success btn-sm rounded-pill" (click)="saveEdit(todo)">   ✔</button>

        <!-- Sil -->
        <button class="btn btn-outline-danger btn-sm rounded-pill" (click)="deleteTodo(todo.id)">  ✖</button>
      </div>
    </li>
  </ul>
</div>